<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home-coordenador">Home</ion-item>
      <ion-item routerLink="/coordenador-aula">Disciplina</ion-item>
      <ion-item routerLink="/coordenador-professores">Professores</ion-item>
      <ion-item routerLink="/coordenador-turma">Turmas</ion-item>
      <ion-item routerLink="/coordenador-curso">Cursos</ion-item>
      <ion-item routerLink="/coordenador-sala">Salas</ion-item>
      <ion-item routerLink="/coordenador-time">Horário</ion-item>
      <ion-item routerLink="/home" style="color: brown;">Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <div class="row mt-5">
      <div class="col-6 m-auto">
        <form [formGroup]="formGroupCourse">
          <div class="mb-3">
            <div class="display-6 text-center">
              <br>
              <h1 style="color: brown; font-weight: bold;">Cadastro de Curso</h1>
            </div>
          </div>
          <br>
          <div class="mb-3">
            <ion-input type="text" formControlName="name" class="form-control" label="Nome:" label-placement="floating" fill="outline" id="name" placeholder="Nome"></ion-input>
            <div *ngIf="submitted && name.invalid">
              <small class="text-danger">Nome inválido!</small>
            </div>
          </div>
          <br>
          <div class="mb-3">
            <ion-input type="number" formControlName="workload" class="form-control" label="Carga Horária:" label-placement="floating" fill="outline" id="workload" placeholder="Carga Horária"></ion-input>
            <div *ngIf="submitted && workload.invalid">
              <small class="text-danger">Carga Horária Inválida!</small>
            </div>
          </div>
          <br>
          <div class="mb-3">
            <ion-input type="number" formControlName="semester" class="form-control" label="Carga Horária:" label-placement="floating" fill="outline" id="semester" placeholder="Quantidade de Semestres"></ion-input>
            <div *ngIf="submitted && workload.invalid">
              <small class="text-danger">Quantidade inválida!</small>
            </div>
          </div>
          <br>
          <div class="mb-3 d-flex justify-content-end gap-2">
            <ion-button style="--background: brown;" *ngIf="isEditing === false" class="btn btn-success" (click)="save()">Salvar</ion-button>
            <ion-button style="--background: brown;" *ngIf="isEditing === true" class="btn btn-success" (click)="save()">Atualizar</ion-button>
            <ion-button style="--background: brown;" class="btn btn-danger" (click)="cancel()">Cancelar</ion-button>
          </div>
        </form>
      </div>
    </div>
  </ion-row>
</ion-grid>

<ion-router-outlet id="main-content"></ion-router-outlet>


<ion-header>
  <ion-toolbar>
    <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
