<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item routerLink="/home-coordenador">Home</ion-item>
            <ion-item routerLink="/coordenador-disciplina">Disciplina</ion-item>
            <ion-item routerLink="/coordenador-professores">Professores</ion-item>
            <ion-item routerLink="/coordenador-turma">Turmas</ion-item>
            <ion-item routerLink="/coordenador-curso">Cursos</ion-item>
            <ion-item routerLink="/coordenador-sala">Salas</ion-item>
            <ion-item routerLink="/coordenador-horarios">Horário</ion-item>
            <ion-item routerLink="/home" style="color: brown;">Sair</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
    <ion-toolbar>
        <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-grid>
    <ion-row class="ion-justify-content-center">
        <div class="row mt-5">
            <div class="col-6 m-auto">
                <form [formGroup]="formGroupClassroom">
                    <div class="mb-3">
                        <div class="display-6 text-center">
                            <br>
                            <h1 style="color: brown; font-weight: bold;">Cadastro de Sala</h1>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <ion-input type="number" formControlName="number" class="form-control" label="Número da Sala:" label-placement="floating" fill="outline" id="number" placeholder="Número da Sala"></ion-input>
                        <div *ngIf="submitted && number.invalid">
                            <small class="text-danger">Número da Sala inválido!</small>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <ion-input type="number" formControlName="capacity" class="form-control" label="Capacidade Máxima:" label-placement="floating" fill="outline" id="capacity" placeholder="Capacidade Máxima:"></ion-input>
                        <div *ngIf="submitted && capacity.invalid">
                            <small class="text-danger">Capacidade não permitida!</small>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <ion-select label="Default label" placeholder="Tipo" formControlName="type" class="form-control" label="Tipo:" label-placement="floating" fill="outline" id="type">
                            <ion-select-option value="Sala">Sala</ion-select-option>
                            <ion-select-option value="Lab">Lab</ion-select-option>
                        </ion-select>
                        <div *ngIf="submitted && type.invalid">
                            <small class="text-danger">Tipo inválido!</small>
                        </div>
                    </div>
                    <br>
                    <div class="mb-3 d-flex justify-content-end gap-2">
                        <ion-button style=" cursor: pointer; --background: brown;" *ngIf="isEditing === false" class="btn btn-success" (click)="save()">Salvar</ion-button>
                        <ion-button style=" cursor: pointer; --background: brown;" *ngIf="isEditing === true" class="btn btn-success" (click)="save()">Atualizar</ion-button>
                        <ion-button style=" cursor: pointer; --background: brown;" class="btn btn-danger" (click)="cancel()">Cancelar</ion-button>
                    </div>
                </form>
            </div>
        </div>
    </ion-row>
</ion-grid>