<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

    <ion-img src="../assets/fatec.png" style="width: 600px; margin: auto; margin-top: 2%;"></ion-img>
    <h1 class="ion-text-center" style="font-weight: bold; color: brown;">Bem Vindo Coordenador!</h1>
    <h1 class="ion-text-center" style="font-weight: bold; color: rgb(0, 0, 0);">Faça login para continuar</h1>
    <br>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" >
          <ion-input label="R.A." label-placement="floating" fill="outline" placeholder="Digite seu R.A."></ion-input>
          <br>
          <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua Senha"></ion-input>
          <br>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button routerLink="/home-coordenador" size="large" style="--background: brown; --border-radius: 6px; font-weight: bold; margin: auto;">Entrar</ion-button>
      </ion-row>
    </ion-grid>

</ion-content>
