<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item routerLink="/home-coordenador">Home</ion-item>
            <ion-item routerLink="/coordenador-disciplina">Disciplina</ion-item>
            <ion-item routerLink="/coordenador-professores">Professores</ion-item>
            <ion-item routerLink="/coordenador-turma">Turmas</ion-item>
            <ion-item routerLink="/coordenador-curso">Cursos</ion-item>
            <ion-item routerLink="/coordenador-sala">Salas</ion-item>
            <ion-item routerLink="/coordenador-horarios">Horário</ion-item>
            <ion-item routerLink="/home" style="color: brown;">Sair</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>


<ion-header>
    <ion-toolbar>
        <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <br>
    <h1 class="ion-text-center" style="color: rgb(0, 0, 0); font-weight: bold; font-size: 50px;">Horários</h1>

    <ion-grid>

        <ion-row class="ion-justify-content-center">
            <ion-col size="6">
                <ion-list>
                    <ion-card *ngFor="let time of times">
                        <ion-card-header>
                            <ion-card-title>#{{time.id}}</ion-card-title>
                            <ion-card-subtitle>Horário: {{time.time}}</ion-card-subtitle>
                        </ion-card-header>

                        <ion-icon class="optionIcons me-1" name="create-outline" (click)="edit(time)"></ion-icon>
                        <ion-icon class="optionIcons" name="trash-outline" (click)="delete(time)"></ion-icon>
                    </ion-card>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button routerLink="/coordenador-cadastro-horarios" size="large" style="--background: brown; cursor: pointer; --border-radius: 6px; font-weight: bold; margin: auto;">
                Cadastrar
            </ion-button>
        </ion-row>
    </ion-grid>

</ion-content>