<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

    <ion-img src="../assets/fatec.png" style="width: 600px; margin: auto; margin-top: 2%;"></ion-img>
    <h1 class="ion-text-center" style="font-weight: bold; color: rgb(0, 0, 0);">Cadastre-se para Acessar o Sistema</h1>
    <br>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6" >
          <ion-input label="R.A." label-placement="floating" fill="outline" placeholder="Digite seu R.A."></ion-input>
          <br>
          <ion-input label="E-mail" label-placement="floating" fill="outline" placeholder="Digite seu E-mail"></ion-input>
          <br>
          <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Digite sua Senha"></ion-input>
          <br>
          <ion-input label="Confirmar Senha" label-placement="floating" fill="outline" placeholder="Confirme sua Senha"></ion-input>
          <br>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button size="large" style="--background: brown; --border-radius: 6px; font-weight: bold; margin: auto;">Entrar</ion-button>
      </ion-row>
    </ion-grid>

    <br>
    <p class="ion-text-center" style="font-size: 20px;">Já possui conta?</p>
    <p class="ion-text-center" style="font-size: 25px; font-weight: bold; color: green;">Entrar</p>

</ion-content>
