<ion-menu contentId="main-content">
  <ion-header>
      <ion-toolbar>
          <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>
          <ion-item routerLink="/home-coordenador">Home</ion-item>
          <ion-item routerLink="/coordenador-disciplina">Disciplina</ion-item>
          <ion-item routerLink="/coordenador-professores">Professores</ion-item>
          <ion-item routerLink="/coordenador-turma">Turmas</ion-item>
          <ion-item routerLink="/coordenador-curso">Cursos</ion-item>
          <ion-item routerLink="/coordenador-sala">Salas</ion-item>
          <ion-item routerLink="/coordenador-horarios">Horário</ion-item>
          <ion-item routerLink="/home" style="color: brown;">Sair</ion-item>
      </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>

<ion-header>
  <ion-toolbar>
      <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="ion-justify-content-center">
      <div class="row mt-5">
          <div class="col-6 m-auto">
              <form [formGroup]="formGroupSchedule">
                  <div class="mb-3">
                      <div class="display-6 text-center">
                          <br>
                          <h1 style="color: brown; font-weight: bold;">Cadastro de Disciplina</h1>
                      </div>
                  </div>
                  <br>
                  <div class="mb-3">
                    <ion-select label="Default label" placeholder="Sala" formControlName="classroom" class="form-control" label="Sala:" label-placement="floating" fill="outline" id="classroom">
                        <ion-select-option *ngFor="let classroom of classroom" value="{{classroom.id}}">{{classroom.name | titlecase}}</ion-select-option>
                        <option *ngIf="classroom.length === 0" value="0" selected disabled>Nenhum curso cadastrado.</option>
                    </ion-select>
                    <div *ngIf="submitted && classroom.invalid">
                        <small class="text-danger">Sala inválido!</small>
                    </div>
                  </div>
                  <br>
                  <div class="mb-3">
                      <ion-select label="Default label" placeholder="Disciplina Associado" formControlName="discipline" class="form-control" label="Disciplina Associada:" label-placement="floating" fill="outline" id="discipline">
                          <ion-select-option *ngFor="let discipline of discipline" value="{{discipline.id}}">{{discipline.name | titlecase}}</ion-select-option>
                          <option *ngIf="discipline.length === 0" value="0" selected disabled>Nenhuma disciplina cadastrada.</option>
                      </ion-select>
                      <div *ngIf="submitted && discipline.invalid">
                          <small class="text-danger">Disciplina inválido!</small>
                      </div>
                  </div>
                  <br>
                  <div class="mb-3">
                    <ion-select label="Default label" placeholder="Professor Associado" formControlName="professor" class="form-control" label="Disciplina Associada:" label-placement="floating" fill="outline" id="professor">
                        <ion-select-option *ngFor="let professor of professor" value="{{professor.id}}">{{professor.name | titlecase}}</ion-select-option>
                        <option *ngIf="professor.length === 0" value="0" selected disabled>Nenhuma disciplina cadastrada.</option>
                    </ion-select>
                    <div *ngIf="submitted && professor.invalid">
                        <small class="text-danger">Professor inválido!</small>
                    </div>
                </div>
                <br>
                  <div class="mb-3 d-flex justify-content-end gap-2">
                      <ion-button style=" cursor: pointer; --background: brown;" *ngIf="isEditing === false" class="btn" (click)="save()">Salvar</ion-button>
                      <ion-button style=" cursor: pointer; --background: brown;" *ngIf="isEditing === true" class="btn" (click)="save()">Atualizar</ion-button>
                      <ion-button style=" cursor: pointer; --background: brown;" class="btn btn-danger" (click)="cancel()">Cancelar</ion-button>
                  </div>
              </form>
          </div>
      </div>
  </ion-row>
</ion-grid>