<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home-coordenador">Home</ion-item>
      <ion-item routerLink="/coordenador-disciplina">Disciplina</ion-item>
      <ion-item routerLink="/coordenador-professores">Professores</ion-item>
      <ion-item routerLink="/coordenador-turma">Turmas</ion-item>
      <ion-item routerLink="/coordenador-curso">Cursos</ion-item>
      <ion-item routerLink="/coordenador-sala">Salas</ion-item>
      <ion-item routerLink="/coordenador-horarios">Horário</ion-item>
      <ion-item routerLink="/home" style="color: brown;">Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>


<ion-header>
  <ion-toolbar>
    <ion-title style="color: brown; font-weight: bold;">Fatec</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <h1>{{weekDay}}</h1>
        <ion-button style="--background: brown;" class="btn ion-margin-top" (click)="goBack()">
          Voltar
        </ion-button>
        <form [formGroup]="formGroupSchedule">
          <div formArrayName="scheduleArray">
            <div *ngFor="let schedule of getScheduleArrayControls(); let i = index">
              <div [formGroupName]="i">
                <div class="mb-3">
                  <div class="display-6 text-center">
                    <br>
                  </div>
                </div>
                <br>
                <ion-list>
                  <ion-item>
                    <ion-label>Horário</ion-label>
                    <ion-select formControlName="time" class="form-select">
                      <ion-select-option *ngFor="let time of times" [value]="time.id">
                        {{ time.time }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <ion-list>
                  <ion-item>
                    <ion-label>Sala</ion-label>
                    <ion-select formControlName="classroom" class="form-select">
                      <ion-select-option *ngFor="let classroom of classrooms" [value]="classroom.id">
                        {{ classroom.type | titlecase }} - {{classroom.number}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <br>

                <br>
                <ion-list>
                  <ion-item>
                    <ion-label>Disciplina</ion-label>
                    <ion-select formControlName="discipline" class="form-select">
                      <ion-select-option *ngFor="let discipline of disciplines" [value]="discipline.id">
                        {{ discipline.name | titlecase }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <br>
                <ion-list>
                  <ion-item>
                    <ion-label>Professor</ion-label>
                    <ion-select formControlName="professor" class="form-select">
                      <ion-select-option *ngFor="let professor of professors" [value]="professor.id">
                        {{ professor.name | titlecase }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
                <br>

              </div>
            </div>
          </div>
          <div class="mb-3 d-flex justify-content-end gap-2">
            <ion-button style="cursor: pointer; --background: brown;" *ngIf="isEditing === false" class="btn"
              (click)="save()">Salvar</ion-button>
            <ion-button style="cursor: pointer; --background: brown;" *ngIf="isEditing === true" class="btn"
              (click)="save()">Atualizar</ion-button>
            <ion-button style="cursor: pointer; --background: brown;" class="btn btn-danger"
              (click)="cancel()">Cancelar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
