<ion-content [fullscreen]="true">

  <h1 class="ion-text-center" style="color: brown; font-weight: bold; font-size: 50px;">Curso</h1>
  <br>
  <br>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" >
        <ion-list>
          <ion-item>
            <ion-select label="Selecione o Curso">
              <ion-select-option value="apple">PI</ion-select-option>
              <ion-select-option value="banana">BD</ion-select-option>
              <ion-select-option value="orange">PAWM</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <br>
      <br>
      <ion-button size="large" style="--background: brown; --border-radius: 6px; font-weight: bold; margin: auto;">Continuar</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
