<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container" style="margin: 0;">
    <ion-title style="color: brown; font-size: 150px; font-weight: bold;">
      Fatec
    </ion-title>
    <ion-img src="src/assets/fatecimg.png"></ion-img>
    <h1 style="font-weight: bold;">Escolha como deseja se conectar</h1>
    <ion-button size="large" style="--background: brown; margin-bottom: 10px;">Professor<ion-icon style="padding-left: 5px;" name="easel-outline"></ion-icon></ion-button><br>
    <ion-button size="large" style="--background: brown; margin-bottom: 10px;">Aluno<ion-icon style="padding-left: 5px;"  name="easel-outline"></ion-icon></ion-button><br>
    <ion-button size="large" style="--background: brown;">Coordenador<ion-icon style="padding-left: 5px;" name="easel-outline"></ion-icon></ion-button>
  </div>
</ion-content>
