<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div id="container" class="ion-text-center">

    <ion-img src="../assets/fatecimg.png" style="width: 600px; margin: auto;"></ion-img>

    <h1 style="font-weight: bold;">Escolha como deseja se conectar</h1>

    <ion-button routerLink="/professor-login" size="large" style="--background: brown; margin-bottom: 10px; --border-radius: 6px;">Professor <ion-img src="../assets/prof.png" style="width: 60px;"> </ion-img></ion-button><br>

    <ion-button routerLink="/aluno-login" size="large" style="--background: brown; margin-bottom: 10px; --border-radius: 6px;">Aluno <ion-img src="../assets/aluno.png" style="width: 60px;"> </ion-img></ion-button><br>

    <ion-button routerLink="/coordenador-login" size="large" style="--background: brown; --border-radius: 6px;">Coordenador <ion-img src="../assets/coord.png" style="width: 60px;"> </ion-img></ion-button>
  </div>
</ion-content>
